.mapbox {
    background: #2E2D2C;
	color: white;
	float: left;
	height: 100%;
	position: relative;
	width: 100%;

	.mapboxgl-control-container {
		.mapboxgl-ctrl-bottom-left,
		.mapboxgl-ctrl-bottom-right {
			display: none;
		}
	}

	.mapboxgl-popup {
		.mapboxgl-popup-content {
			@include sci-fi-box(#005066AA, 24px, 20px);

			.polygon-tooltip {
				text-align: center;
				text-transform: capitalize;
			}
		}

		.mapboxgl-popup-tip {
			border-top-color: #025066;
			margin-top: -2px;
		}
	}
}
