.navbar {
    align-items: center;
    background-color: #002439;
    display: flex;
    height: 57px;
    justify-content: space-between;

    .links {
        display: flex;
        height: 100%;
        padding-right: 4px;

        a {
            align-items: center;
            color: #E4EFF0;
            display: flex;
            font-size: 18px;
            font-weight: bold;
            // padding-right: 28px;
            padding: 0px 12px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
    
            &.active {
                color: #78CCE2;
            }

            &:not(.active):hover {
                color: #78CCE2;
            }
        }

        .profile-button {
            background-color: #002439;
            color: #00B200C2;
            font-size: 18px;
            margin: 9px 3px;

            &:hover {
                color: #00B200;
            }
        }

        .sign-in {
            cursor: pointer;
            text-decoration: none !important;

            &:hover {
                color: #00B200 !important;
            }
        }
    }

    .logo {
        color: #E4EFF0;
        cursor: pointer;
        font-family: papyrus;
        font-size: 29px;
        font-weight: bold;
        height: 100%;
        justify-content: flex-start;
        padding-left: 32px;
        position: relative;
        top: 12px;

        &:hover {
            color: #78CCE2
        }
    }
}