.polygon-game {
	align-items: center;
	display: grid;
	grid-template-columns: [col1-start] 25% [col1-end col2-start] 10% [col2-end col3-start] 30% [col3-end col4-start] 10% [col4-end col5-start] 25% [col5-end];
	grid-template-rows: [row1-start] 25% [row1-end row2-start] 50% [row2-end row3-start] 25% [row3-end];
	height: 100%;

	.buttons {
		padding-left: 24px;
		grid-column-start: col4-start;
		grid-column-end: col4-end;
		grid-row-start: row1-start;
		grid-row-end: row2-start;

		.next,
		.restart,
		.show-results,
		.start {
			background-color: #002439CC;
			border-radius: 10px;
			border: none;
			color: #E4EFF0;
			cursor: pointer;
			font-size: 24px;
			font-weight: bold;
			padding: 6px 10px;

			&:hover {
				background-color: #005560;
			}
		}
	}

	.interactive-menu,
	.score-menu {
		@include sci-fi-box(#005066AA, 28px, 28px);

		display: flex;
		grid-column-start: col2-start;
		grid-column-end: col5-start;
		justify-self: center;
		text-transform: capitalize;

		.current-target {
			align-self: center;
			padding: 8px 0px;

			.count {
				color: #78CCE2;
				font-size: 30px;
				margin-left: 20px;
			}
		}

		.title {
			align-self: center;
		}
	}

	.interactive-menu {
		grid-row-start: row1-start;
		grid-row-end: row2-start;
	}

	.score-menu {
		border-radius: 0px;
		display: flex;
		flex-direction: column;
		grid-row-start: row2-start;
		grid-row-end: row3-start;

		.title {
			padding: 5px 0px 20px;
		}

		.score {
			color: #78CCE2;
			font-size: 36px;
			padding: 10px;
			text-align: center;

			> span {
				font-size: 26px;
			}
		}
	}

	.selection {
		@include sci-fi-box(#005066DD, 24px, 60px);

		grid-column-start: col2-start;
		grid-column-end: col5-start;
		grid-row-start: row2-start;
		grid-row-end: row3-start;
		justify-self: center;

		.europe,
		.games,
		.south-america,
		.us-states {
			padding: 10px 0px;

			> a {
				color: #78CCE2;
				margin-left: 15px;
				text-align: center;
				text-decoration: none;
			}
		}

		.games {
			padding: 0px;

			> a {
				display: block;
				margin-left: 0px;
				padding-top: 22px;
			}
		}

		.title {
			font-size: 26px;
			font-weight: bold;
			margin-bottom: 10px;
			text-align: center;
		}

		.europe {
			> span {
				margin-right: 85px;
			}
		}

		.south-america {
			> span {
				margin-right: 3px;
			}
		}

		.us-states {
			padding-top: 20px;

			> span {
				margin-right: 53px;
			}
		}
	}
}
