html,
body {
	height: 100%;
	margin: 0;

	#root-container {
		height: inherit;
		overflow-y: hidden !important;
	}

	.bold {
		font-weight: 600;
	}

	.chakra-modal__body,
	.chakra-modal__footer,
	.chakra-modal__header {
		background-color: #EFF9FF;
	}

	.modal-body {
		padding: 12px 48px 24px;

		.chakra-form__label {
			color: #78CCE2;
			font-weight: bold;
		}
	}

	.modal-header {
		color: #005066;
		font-size: 22px;
		padding: 16px 46px;
	}

	.page-content {
		margin: 0 auto;
		margin-top: to-rem(20px);
		width: to-rem(1140px);
	}

	.view {
		float: right;
		height: 100%;
		width: 100%;
	}
}
